@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600&family=DM+Sans:wght@400;500;700&display=swap");
@import "tailwindcss";

/* Reset y tipografía básica */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

/* Scrollbar moderna */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #232220;
  border-radius: 8px;
  transition: background 0.3s;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #c2a875;
}

/* Selección de texto */
::selection,
::-moz-selection {
  background: #c2a87599;
  color: #232220;
}

/* Skip link accesible */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.focus\:not-sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* Logo dark/light*/
.logo-dark {
  display: inline-block;
}
.logo-light {
  display: none;
}
html.dark .logo-dark {
  display: inline-block !important;
}
html.dark .logo-light {
  display: none !important;
}
html:not(.dark) .logo-dark {
  display: none !important;
}
html:not(.dark) .logo-light {
  display: inline-block !important;
}
